{
  "extends": [
    "eslint-config-airbnb",
    "plugin:react/recommended"
  ],    
  "env": {
    "es6": true
  },
  "settings": {
    "react": {
      "createClass": "createReactClass",
      "pragma": "React",
      "version": "15.0",
      "flowVersion": "0.53"
    },
    "propWrapperFunctions": [ "forbidExtraProps" ]
  },
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": [2, { "ignore": ["electron"] }],
    "linebreak-style": 0,
    "quotes": ["double", "error"],
    "indent": [4, "error"],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error"
  }
}
